<?xml version="1.0" encoding="utf-8"?>
<!--
  Visual Studio "Folder" publish profile: Release, 64-bit Windows.
  Right-click the project > Publish > select "win-x64" to produce a
  framework-dependent build at the PublishDir below (Filey.exe + DLLs).
  Requires the .NET Framework 4.8 runtime on the target machine.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <Platform>x64</Platform>
    <PublishProtocol>FileSystem</PublishProtocol>
    <PublishProvider>FileSystem</PublishProvider>
    <PublishDir>bin\publish\win-x64\</PublishDir>
    <DeleteExistingFiles>true</DeleteExistingFiles>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>x64</LastUsedPlatform>
    <_TargetId>Folder</_TargetId>
  </PropertyGroup>
</Project>
